<br>
<h1>Event Details for Admin</h1>
<br>
<a href="/">Back</a>
<form action="/admin/update" method="post">
    <h3>Event Name: </h3>
        <input type="text" name="event_name" value="<%= event[0].event_name %>">
    <h3>Date:</h3>
        <input type="date" name="event_date" value="<%= event[0].event_date %>">
    <h3>Price(USD): </h3>
        <input type="text" name="ticket_price" value="<%= event[0].ticket_price %>">
    <h3>Event Size: </h3>
        <input type="text" name="event_size" value="<%= event[0].event_size %>">
    <h3>Start Time: </h3>
        <input type="text" name="start_time" value="<%= event[0].start_time %>">
    <h3>Location: </h3>
        <input type="text" name="location" value="<%= event[0].location %>">
    <h3>Web Link: </h3>
        <input type="text" name="web_link" value="<%= event[0].web_link %>">
    <h3>Description: </h3>
        <input type="text" name="description" value="<%= event[0].description %>">
    <h3>Event Type: </h3>
        <input type="text" name="event_type" value="<%= event[0].event_type %>">
    <input type="hidden" name="eventID" value="<%= event[0].id%>">
    <br><br>
    <button type="submit" name="button">Update</button>
</form>

<form action="/admin/delete" method="post">
    <input type="hidden" name="eventID" value="<%= event[0].id%>">
    <br>
    <button type="submit" name="button">Delete</button>
</form>
