<h1>Citysights</h1>
<a href="/admin">Back</a>
<h4>Data Analysis</h4>


<li>Number of Schedule Queries: <%= numSchedule[0].NUM %><br><br></li>

<li>Number of Event Queries: <%= numEvent[0].NUM %><br><br></li>

<li>Most Popular Day From Search History: <%= popDay[0].Date %><br></li>
    It's searched <%= popDay[0].NUM %> times<br><br>

<li>Average Budget on Event Query: <%= eventBudget[0].Budget%> <br><br></li>

<li>Average Budget on Schedule Query: <%= schedBudget[0].Budget%><br><br></li>
