<h1>Citysights</h1>
<a href="/admin">Back</a>
<h4>Data Analysis</h4>


Number of Schedule Query: <%= numSchedule[0].NUM %><br><br>

Number of Event Query: <%= numEvent[0].NUM %><br><br>

Most Popular Day From Search History: <%= popDay[0].Date %><br>
Number of Search: <%= popDay[0].NUM %><br><br>

Average Budget on Event Query:<%= eventBudget[0].Budget%> <br><br>

Average Budget on Schedule Query:<%= schedBudget[0].Budget%><br><br>
