<h1>CitySights</h1>
<br>
<a href="/">Back to Homepage</a><br>
<a href="/schedule">Find another schedule</a><br>
<br>
<% if(query.startdate){ %>
    These are schedules generated from <%= query.startdate %> to <%= query.enddate%>.
<% } else { %>
    These are schedules generated from 2020-08-15 to 2020-08-17.
<% } %>
<br>
<% let count = 0; let flag = true%>
    <%var day1_len = ((day1a.length > day1b.length) ? day1a.length : day1b.length)
    var day2_len = ((day2a.length > day2b.length) ? day2a.length : day2b.length)
    var day3_len = ((day3a.length > day3b.length) ? day3a.length : day3b.length)%>
    <br>
    <% let j = 0 %>
    <% let k = 0 %>
    <% let m = 0 %>
    <% while((j<day3_len || k<day2_len || m<day2_len) && flag==true){ %>
                <br>
                <br>
                <h3>Schedule <%= count+1 %></h3>
                <% if(m<day1_len){ %>
                    <h5>Day 1:</h5>
                <% } %>
                <% if(m < day1a.length){ %>
                    <span style="display: inline-block; width:400px;"><%= day1a[m].Name %></span>
                    <span style="display: inline-block; width:160px;"><%= day1a[m].Date %></span>
                    <span style="display: inline-block; width:160px;"><%= day1a[m].StartTime %></span>
                    <% if(day1a[m].Price==0){ %>
                        <span style="display: inline-block; width:300px;">Free</span>
                    <% } else if(day1a[m].Price==-1){ %>
                        <span style="display: inline-block; width:300px;">Not available</span>
                    <% } else { %>
                        <span style="display: inline-block; width:100px;"><%= "$" + day1a[m].Price %></span>
                    <% } %>
                    <form action="/schedule/details" method="post" style="float: right;display: inline-block;">
                                <input type="hidden" name="budget" value="<%= query.budget%>">
                                <input type="hidden" name="group_type" value="<%= query.group_type%>">
                                <input type="hidden" name="startdate" value="<%= query.startdate%>">
                                <input type="hidden" name="enddate" value="<%= query.enddate%>">
                                <input type="hidden" name="interests" value="<%= query.interests%>">
                                <input type="hidden" name="EventID" value="<%= day1a[m].EventID%>">
                                <button type="Submit" class="btn btn-info btn-sm">Details</button>
                    </form>
                <% } %>
                <% if(m < day1b.length){ %>
                    <br>
                    <br>
                    <span style="display: inline-block; width:400px;"><%= day1b[m].Name %></span>
                    <span style="display: inline-block; width:160px;"><%= day1b[m].Date %></span>
                    <span style="display: inline-block; width:160px;"><%= day1b[m].StartTime %></span>
                    <% if(day1b[m].Price==0){ %>
                        <span style="display: inline-block; width:300px;">Free</span>
                    <% } else if(day1b[m].Price==-1){ %>
                        <span style="display: inline-block; width:300px;">Not available</span>
                    <% } else { %>
                        <span style="display: inline-block; width:100px;"><%= "$" + day1b[m].Price %></span>
                    <% } %>
                    <form action="/schedule/details" method="post" style="float: right;display: inline-block;">
                        <input type="hidden" name="budget" value="<%= query.budget%>">
                        <input type="hidden" name="group_type" value="<%= query.group_type%>">
                        <input type="hidden" name="startdate" value="<%= query.startdate%>">
                        <input type="hidden" name="enddate" value="<%= query.enddate%>">
                        <input type="hidden" name="interests" value="<%= query.interests%>">
                                <input type="hidden" name="EventID" value="<%= day1b[m].EventID%>">
                                <button type="Submit" class="btn btn-info btn-sm">Details</button>
                    </form>
                <% } %>
                <br>
                <br>
                <% if(k<day2_len){ %>
                    <h5>Day 2:</h5>
                <% } %>
                <% if(k < day2a.length){ %>
                    <span style="display: inline-block; width:400px;"><%= day2a[k].Name %></span>
                    <span style="display: inline-block; width:160px;"><%= day2a[k].Date %></span>
                    <span style="display: inline-block; width:160px;"><%= day2a[k].StartTime %></span>
                    <% if(day2a[k].Price==0){ %>
                        <span style="display: inline-block; width:300px;">Free</span>
                    <% } else if(day2a[k].Price==-1){ %>
                        <span style="display: inline-block; width:300px;">Not available</span>
                    <% } else { %>
                        <span style="display: inline-block; width:100px;"><%= "$" + day2a[k].Price %></span>
                    <% } %>
                    <form action="/schedule/details" method="post" style="float: right;display: inline-block;">
                        <input type="hidden" name="budget" value="<%= query.budget%>">
                        <input type="hidden" name="group_type" value="<%= query.group_type%>">
                        <input type="hidden" name="startdate" value="<%= query.startdate%>">
                        <input type="hidden" name="enddate" value="<%= query.enddate%>">
                        <input type="hidden" name="interests" value="<%= query.interests%>">
                                <input type="hidden" name="EventID" value="<%= day2a[k].EventID%>">
                                <button type="Submit" class="btn btn-info btn-sm">Details</button>
                    </form>
                <% } %>
                <% if(k < day2b.length){ %>
                    <br><br>
                    <span style="display: inline-block; width:400px;"><%= day2b[k].Name %></span>
                    <span style="display: inline-block; width:160px;"><%= day2b[k].Date %></span>
                    <span style="display: inline-block; width:160px;"><%= day2b[k].StartTime %></span>
                    <% if(day2b[k].Price==0){ %>
                        <span style="display: inline-block; width:300px;">Free</span>
                    <% } else if(day2b[k].Price==-1){ %>
                        <span style="display: inline-block; width:300px;">Not available</span>
                    <% } else { %>
                        <span style="display: inline-block; width:100px;"><%= "$" + day2b[k].Price %></span>
                    <% } %>
                    <form action="/schedule/details" method="post" style="float: right;display: inline-block;">
                        <input type="hidden" name="budget" value="<%= query.budget%>">
                        <input type="hidden" name="group_type" value="<%= query.group_type%>">
                        <input type="hidden" name="startdate" value="<%= query.startdate%>">
                        <input type="hidden" name="enddate" value="<%= query.enddate%>">
                        <input type="hidden" name="interests" value="<%= query.interests%>">
                                <input type="hidden" name="EventID" value="<%= day2b[k].EventID%>">
                                <button type="Submit" class="btn btn-info btn-sm">Details</button>
                    </form>
                <% } %>
                <br>
                <br>
                <% if(j<day3_len){ %>
                    <h5>Day 3:</h5>
                <% } %>
                <% if(j < day3a.length){ %>
                    <span style="display: inline-block; width:400px;"><%= day3a[j].Name %></span>
                    <span style="display: inline-block; width:160px;"><%= day3a[j].Date %></span>
                    <span style="display: inline-block; width:160px;"><%= day3a[j].StartTime %></span>
                    <% if(day3a[j].Price==0){ %>
                        <span style="display: inline-block; width:300px;">Free</span>
                    <% } else if(day3a[j].Price==-1){ %>
                        <span style="display: inline-block; width:300px;">Not available</span>
                    <% } else { %>
                        <span style="display: inline-block; width:100px;"><%= "$" + day3a[j].Price %></span>
                    <% } %>
                    <form action="/schedule/details" method="post" style="float: right;display: inline-block;">
                        <input type="hidden" name="budget" value="<%= query.budget%>">
                        <input type="hidden" name="group_type" value="<%= query.group_type%>">
                        <input type="hidden" name="startdate" value="<%= query.startdate%>">
                        <input type="hidden" name="enddate" value="<%= query.enddate%>">
                        <input type="hidden" name="interests" value="<%= query.interests%>">
                                <input type="hidden" name="EventID" value="<%= day3a[j].EventID%>">
                                <button type="Submit" class="btn btn-info btn-sm">Details</button>
                    </form>
                <% } %>
                <% if(j < day3b.length){ %>
                    <br><br>
                    <span style="display: inline-block; width:400px;"><%= day3b[j].Name %></span>
                    <span style="display: inline-block; width:160px;"><%= day3b[j].Date %></span>
                    <span style="display: inline-block; width:160px;"><%= day3b[j].StartTime %></span>
                    <% if(day3b[j].Price==0){ %>
                        <span style="display: inline-block; width:300px;">Free</span>
                    <% } else if(day3b[j].Price==-1){ %>
                        <span style="display: inline-block; width:300px;">Not available</span>
                    <% } else { %>
                        <span style="display: inline-block; width:100px;"><%= "$" + day3b[j].Price %></span>
                    <% } %>
                    <form action="/schedule/details" method="post" style="float: right;display: inline-block;">
                        <input type="hidden" name="budget" value="<%= query.budget%>">
                        <input type="hidden" name="group_type" value="<%= query.group_type%>">
                        <input type="hidden" name="startdate" value="<%= query.startdate%>">
                        <input type="hidden" name="enddate" value="<%= query.enddate%>">
                        <input type="hidden" name="interests" value="<%= query.interests%>">
                                <input type="hidden" name="EventID" value="<%= day3b[j].EventID%>">
                                <button type="Submit" class="btn btn-info btn-sm">Details</button>
                    </form>
                    <br>
                <% } %>
                <% j++ %>
                <% k++ %>
                <% m++ %>
                <% count++ %>
                <% if(count>=10){ %>
                    <br><br>
                    <% flag = false; break; %>
                <% } %>
    <% }%>
